$background-color: #222222;
$primary-color: #ffffff;
$secondary-color: #333333;

body {
  background-color: $background-color;
  color: $primary-color;
}

header {
  background-color: $secondary-color;
}
